
:root {
   --red: #ff1f1f;
   --blue: #3d7dca;
   --yellow: #fad233;
   --green: #4cb050;
   --darkBlue: #003a70;
 }
 
 body {
   background-color: var(--yellow);
 }
 
 .navbar-toggler {
   border: none;
 }
 
 .navbar-toggler:focus {
   outline: none;
 }

 
 @media (max-width: 768px) {
   .col-md-2 {
     width: 50%;
   }
 }
 
 @media (max-width: 576px) {
   .col-md-2 {
     width: 100%;
   }
 }
 
 .button {
   display: inline-block;
   padding: 12px 24px;
   font-size: 16px;
   font-weight: bold;
   text-align: center;
   text-transform: uppercase;
   border-radius: 30px;
   border: none;
   cursor: pointer;
   color: #fff;
   background-color: #f39c12;
   box-shadow: 0px 2px 5px rgba(0,0,0,0.25);
   transition: all 0.3s ease-in-out;
   margin: 3px 0;
 }

 .btn-primary {
   height: 10vh;
   font-size: 20px;
   border-radius: 8px;
   border: none;
   border-right: 0.25vh solid rgba(0, 0, 0, 0.8);
   border-bottom: 0.5vh solid rgba(0, 0, 0, 0.8);
   justify-content: center;
   text-transform: capitalize;
}

 .button:hover {
   transform: translateY(-3px);
   box-shadow: 0px 4px 10px rgba(0,0,0,0.25);
 }

 .button:active {
   transform: translateY(0px);
   box-shadow: 0px 2px 5px rgba(0,0,0,0.25);
 }

 .button:disabled {
   opacity: 0.5;
   cursor: not-allowed;
 }

 .pokemon-list {
   display: flex;
   flex-wrap: wrap;
   max-width: 100%;
   justify-content: space-between;
 }

 .button-pokemon {
   font-weight: bold;
   background-color: var(--blue);
   color: white;
   border-radius: 10px;
   border: none;
   padding: 10px 20px;
   margin: 6px;
 }
 
 .button-pokemon:hover {
   background-color: #003a70;
   transform: translateY(-6px);
   border: 0px solid hsl(48, 100%, 51%);
   color: #ffffff;
 }
 
 .button-pokemon:active {
   background-color: #fce303;
   border: 3px solid #ffcb05;
   color: #333;
 }
 
 .button-pokemon:disabled {
   opacity: 0.5;
   cursor: not-allowed;
   background-color: #e6e6e6;
   border: 3px solid #ccc;
   color: #999;
 }
 
 /* I hope to figure out how to pull the pokemon-type data from teh API, and apply the corresponding color stylings to each */
 .pokemon-fire .button-pokemon {
   background-color: var(--red);
 }
 
 .pokemon-water .button-pokemon {
   background-color: var(--blue);
 }
 
 .pokemon-electric .button-pokemon {
   background-color: yellow;
 }
 
 .pokemon-grass .button-pokemon {
   background-color: var(--green);
 }
 
 h1, p {
   color: var(--text-color);
 }
 
 .list-group-item {
   border: none;
}

h1 {
   text-transform: capitalize;
}
